
<body>
    <header class="encabezado">
        <div class="logo"></div>
    </header>
    <main class="principal">
        <canvas class="pantalla" width="550px"
        height="550px"></canvas>
        <div class="palabras">

        </div>
        <span class="palabras_erroneas"></span>
        <div class="botones">

            <div class="caja-1">
                <a class="btn-boton" href="#">Nuevo juego</a>
                <a class="btn-boton" routerLinkActive="active" [routerLink]="['**']" >Salir</a>
            </div>
        </div>
    </main>
    <footer>
        <h4 class="name">Yonatan Rojas</h4>
            <a class="link-2" href="https://www.linkedin.com/in/yonatan-alejandro-rojas-70571a236/">&#128316; Mi Linkedin</a>
            <a class="link-2" href="https://github.com/YonatanRojas">&#128316; Mi Github</a>
    </footer>
</body>

